<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body style="background-color: azure">
    <center>
      <h1>WELCOME TO THE ADVENTURE GAME</h1>
      <h2>RULES OF THE GAME</h2>
      <pre>
        <strong>
            # A secret destination is located somewhere in first quadrant of the x-y plane
            
            # you can move in any direction of your choice
            
            # the directions are
            
            # positive x direction = RIGHT
            
            # positive y direction = UP
            
            # negative x direction = LEFT
            
            # negative y direction = DOWN
            
            # YOUR INITIAL POSITION (x,y) WILL BE (0,0)

            # PLEASE CLICK GENERATE YOUR SECRET DESTINATION BUTTON TO BEGIN
        </strong>     
          </pre>
      <a href="/game"
        ><input type="button" value="LETS FIND THE SECRET DESTINATION"
      /></a>
    </center>
  </body>
</html>
